<!DOCTYPE html>
<html lang="ru">

  <head>
	<title>Статистика замен</title>
	  {% load static %}
	<link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css"/>

</head>
<body>
	<center>
	<header class="site-header">
		<h1>Статистика замен</h1>
	</header>
		<form action="" method="post">
			{% csrf_token %}
			{% for i in list_parm %}
			<table class="table">
				<tr class="first-string">
					<td class="first-white"> <div class="icon"></div>{{ i.title }}</td>
				</tr>

				<tr class="second-string">
					<td>
						<div class="second-string">{{ i.placeholder }}</div>
					</td>
				</tr>
				<tr class="second-string">
					<td>
						<div class="second-string">{{ i.number }}</div>
					</td>
				</tr>
			</table>
			{% endfor %}
			<button type="submit" class="button">Выгрузить записку</button>
		</form>
	</center>
</body>